body {background-color:#FCFFE3; color:#382B00}
a {color:#382B00;}
a:hover, a:active, a:focus {color:#004395 !important;}

/* ----------------------------------------------------------------------------------------------------------
Homepage
---------------------------------------------------------------------------------------------------------- */

#header {color:#FCFFE3;}
#header #features {color:#382B00;}
#header #features {border-bottom:1px solid #382B00;}
#header #features li {border-top:1px solid #382B00;}
#content .col-third h2, #content #col-right h2 {border-bottom:2px solid #382B00;}
#content #newsletter {border-top:1px solid #ccc;}

/* ----------------------------------------------------------------------------------------------------------
subpage
---------------------------------------------------------------------------------------------------------- */

#sub #header {background:#382B00;}

/* ----------------------------------------------------------------------------------------------------------
Others
---------------------------------------------------------------------------------------------------------- */

.low, .low a {color:#777;}
.border {border:1px solid #ccc;}